/* &display=swap*/
@import url("https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:regular,700&display=swap");
/* Обнуляющий стиль */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
ol li,
ul li {
   list-style: none;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
img {
   vertical-align: top;
}
html,
body {
   height: 100%;
   font-size: 14px;
   line-height: 1;
}
input,
button,
textarea {
   font-family: inherit;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
//[class*="__container"] {
//   max-width: 1000px;
//   margin: 0 auto;
//}
/* -------------- */
* {
   font-family: "Oleo Script Swash Caps";
}
body {
   //display: flex;
   //justify-content: center;
   //align-items: center;
   //min-height: 100%;
   background: linear-gradient(45deg, #006bc6, #1ecafc);
}
.wrapper {
   height: 100%;
   overflow: hidden;
}
.wrapper::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background: url(../img/milk.png) left bottom / contain no-repeat;
}

svg {
   width: 0;
   height: 0;
}

.milk {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100%;
   //.milc__title
   &__title {
      position: absolute;
      color: #fff;
      font-size: 1.75em;
      text-transform: capitalize;
   }
   // .milk__loader
   &__loader {
      position: relative;
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.25);
      filter: url(#Gooey);
      span {
         position: absolute;
         left: 0;
         transform-origin: 150px;
         width: 60px;
         height: 60px;
         background: #fff;
         border-radius: 50%;
         animation: animate 5s ease-in-out infinite;
         animation-delay: calc(0.15s * var(--i));
      }
   }
}
@keyframes animate {
   0%,
   10% {
      width: 100px;
      height: 100px;
      transform: rotate(0deg) translateX(120px);
   }
   40%,
   70% {
      width: 40px;
      height: 40px;
      //transform: rotate(calc(360deg / 8 * var(--i))) translateX(120px);
      transform: rotate(calc(360deg / 8 * var(--i)));
      box-shadow: 0 0 0 10px #fff;
   }
   90%,
   100% {
      width: 100px;
      height: 100px;
      transform: rotate(0deg) translateX(120px);
   }
}
